.NavWrapper {
    width: 100%;
    height: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
}

.NavWrapper button:focus {
    outline: none;
}

.NavWrapper-Menu {
    border: none;
    margin: 0 20px;
}

.NavWrapper-Menu:hover {
    cursor: pointer;
}

.NavWrapper-MenuIcon {
    height: 20px;
    width: 20px;
    border: none;
}
