.PuzzleHeader {
	width: 100%;
	margin: 10px 0 14px 0;
	font-size: 20px;
	display: flex;
	align-items: flex-end;
}

.PuzzleHeader-Day {
	font-weight: bold;
	margin-right: 8px;
}

.PuzzleHeader-Author {
	margin-left: auto;
	font-style: italic;
	font-size: 15px;
	max-width: 175px;
}