/* 
REPLACED WITH STYLED COMPONENTS

.CluesContainer {
	min-height: 540px;
	height: 100%;
	display: flex;
	margin-right: 5px;
	max-width: 600px;
}

@media (max-width: 920px) {
	.CluesContainer {
		flex-direction: column;
		max-width: 480px;
	}
} */