/*
REPLACED WITH STYLED COMPONENTS

.CluesListItem {
	font-size: 14px;
	display: flex;
	line-height: 1.5;
}

.CluesListItem:hover {
	background-color: rgba(167, 216, 255, 0.25);
	cursor: pointer;
}

.CluesListItem-Label {
	font-weight: bold;
	min-width: 25px;
	text-align: right;
	padding: 4px;
}

.CluesListItem-Text {
	margin-left: 3px;
	padding: 4px 8px 4px 4px;
	width: 100%;
	display: flex;
	align-items: center;
}

.CluesListItem-SideTab {
	min-width: 10px;
}

.italic {
	font-style: italic;
}

.greyed {
	color: 	#808080;
}

.activeClueListItem, .altActiveClueSideTab {
	background-color: #a7d8ff!important;
}

.CluesListItem-Input {
	background-color: transparent;
	border: none;
	font-size: 14px;
	height: 18px;
	width: 100%;
	display: block;
	resize: none;
}

.CluesListItem-Input:focus {
	outline: none;
} */

/* hide placeholder by default */
.CluesListItem-Input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 0;
}
.CluesListItem-Input::-moz-placeholder { /* Firefox 19+ */
	opacity: 0;
}
.CluesListItem-Input:-ms-input-placeholder { /* IE 10+ */
	opacity: 0;
}
.CluesListItem-Input:-moz-placeholder { /* Firefox 18- */
	opacity: 0;
}

/* show placeholder on hover */
.CluesListItem-Input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 1;
}
.CluesListItem-Input:hover::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
}
.CluesListItem-Input:hover:-ms-input-placeholder { /* IE 10+ */
	opacity: 1;
}
.CluesListItem-Input:hover:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
}

/* show placeholder for active clue */
.activeClueListItem .CluesListItem-Input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	opacity: 1!important;
}
.activeClueListItem .CluesListItem-Input::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
}
.activeClueListItem .CluesListItem-Input:-ms-input-placeholder { /* IE 10+ */
	opacity: 1;
}
.activeClueListItem .CluesListItem-Input:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
}