.GridRow {
	display: flex;
	height: 6.666667%;
	width: 100%;
}

.GridRow-sunday {
	height: 4.7619%!important;
}

.GridRow:last-child {
	border-bottom: 1px solid #383838;
	height: calc(6.666667% + 1px);
}

.GridRow-sunday:last-child {
	height: calc(4.7619% + 1px)!important;
}

.GridCellContainer {
	height: 100%;
	width: 6.666667%;
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
}

.GridCellContainer-sunday {
	width: 4.7619%!important;
}

.GridCellContainer:nth-child(15n) {
	border-right: 1px solid #383838;
}

.GridCellContainer-sunday:nth-child(15n) {
	border-right: none;
}

.GridCellContainer-sunday:nth-child(21n) {
	border-right: 1px solid #383838;
}