.GridCell {
	height: 100%;
	width: 100%;
	/* display: table; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.GridCell-text {
	/* display: table-cell; */
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	padding-top: 7px;
	/* padding-left: 3px; */
}

.text-sunday {
	font-size: 15px!important;
}

.label-sunday {
	font-size: 11px!important;
	left: 0!important;
	line-height: 11px!important;
}

.GridCell-label {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0.5px;
	line-height: 14px;
	letter-spacing: -1px;
}

.GridCell-diag {
	position: absolute;
	height: 2px;
	width: 45px;
	transform: rotate(-45deg);
	background-color: #E63333;
	top: 14px;
	left: -7px;
	border-radius: 2px;
}

.GridCell-revealed {
	position: absolute;
	left: 21px;
	top: 0;
	height: 0;
	width: 0;
	border-top: 5px solid #E63333;
	border-right: 5px solid #E63333;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
}

.hidden {
	display: none;
}

.correct {
	color: #2860D8!important;
}

.activeCell {
	background-color: #ffda00!important;
}

.activeClue{
	background-color: #a7d8ff;
}

.disabled {
	background-color: #000000;
	pointer-events: none;
}

.note {
	color: #909090;
}

@media (max-width: 1000px) {
	.GridCell-label {
		font-size: 10px;
		line-height: 10px;
		top: 0;
		left: 0;
	}

	.GridCell-text {
		font-size: 18px;
	}

	.text-sunday {
		font-size: 14px!important;
	}
	
	.label-sunday {
		font-size: 9px!important;
		line-height: 9px!important;
	}
}

@media (max-width: 650px) {
	.GridCell-label {
		font-size: 9px;
		line-height: 9px;
		top: 0;
		left: 0;
	}

	.GridCell-text {
		font-size: 15px;
	}

	.text-sunday {
		font-size: 13px!important;
	}
}