/* .NavBar {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
} */

.NavBar button:focus {
	outline: none;
}

.NavBar-NewPuzzle {
	font-size: 14px;
	color: black;
	padding: 6px;
	margin: 4px 20px;
	background-color: white;
	border: none;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
	border-radius: 4px;
	transition: all 200ms ease-in-out;
	white-space: nowrap;
}

.NavBar-NewPuzzle:hover {
	cursor: pointer;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
	transition: all 200ms ease-in-out;
}

.NavBar-NewPuzzle:active {
	cursor: pointer;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
	transition: all 100ms ease-in-out;
}

/* .NavBar-Menu {
	border: none;
	margin: 0 20px;
}

.NavBar-Menu:hover {
	cursor: pointer;
}

.NavBar-MenuIcon {
	height: 20px;
	width: 20px;
	border: none;
} */

.NavBar-Days, .NavBar-Check, .NavBar-Reveal, .NavBar-Clear {
	height: 100%;
	font-size: 14px;
	border: none;
	background-color: inherit;;
	color: black;
	padding: 0 18px;
}

.NavBar-Reveal, .NavBar-Check, .NavBar-CheckDropdown, .NavBar-RevealDropdown {
	width: 80px;
}

.NavBar-Days {
	padding: 0 10px;
}

.NavBar-Days:hover, .NavBar-Check:hover, .NavBar-Reveal:hover,
.NavBar-Clear:hover, .NavBar-CheckDropdownItem:hover, .NavBar-RevealDropdownItem:hover, 
.NavBar-Notes:hover, .active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
}

.NavBar-RightButtons {
	margin-left: auto;
	height: 100%;
	display: flex;
	/*margin-right: 50px;*/
}

.NavBar-DaysDropdown, .NavBar-CheckDropdown, .NavBar-RevealDropdown {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: white;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.NavBar-CheckDropdownItem, .NavBar-RevealDropdownItem {
	height: 100%;
	font-size: 14px;
	border: none;
	background-color: inherit;;
	color: black;
	padding: 11px 15px;
}

.NavBar-CheckDropdownItem:not(:last-child), .NavBar-RevealDropdownItem:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.NavBar-DaysDropdown {
	padding: 10px;
}

.NavBar-Day {
	padding: 10px 15px 10px 10px;
	display: flex;
	align-items: center;
}

.NavBar-Day:not(:last-child) {
	border-bottom: 1px solid rgb(200,200,200);
}

.NavBar-Day:hover {
	/*background-color: rgb(240,240,240);*/
	cursor: pointer;
}

.NavBar-Day label {
	padding-left: 10px;
}

.NavBar-Day label:hover {
	cursor: pointer;
}

.NavBar-DayText {
	margin-left: 5px;
}

.hidden {
	display: none;
}

.NavBar-Notes {
	border: none;
	height: 44px;
	padding: 1px 13px;
	background-color: transparent;
}

.NavBar-NotesIcon {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.active-notes {
	background-color: #4F85E5!important;
}

.active-notes img {
	filter: invert(1);
}

@media (max-width: 700px) {
	.NavBar {
		font-size: 13px;
	}
		
	.NavBar-NewPuzzle {
		font-size: 13px;
		margin-left: 12px;
		margin-right: 12px;
	}

	.NavBar-Days, .NavBar-Check, .NavBar-Reveal, .NavBar-Clear {
		font-size: 13px;
		padding: 0 12px;
	}

	.NavBar-CheckDropdownItem, .NavBar-RevealDropdownItem {
		font-size: 13px;
	}
}